@media only screen and (max-width: 700px) {

    .nav-upCenter{
        display: none;
    }
    .nav-upRight{
        width: 100%;
    }

}
@media only screen and (max-height: 730px) {
    .box{
        transform: scale(0.8);
    }
}

@media only screen and (max-height: 660px) {

}


@media only screen and (max-width: 580px) {

    body{
        padding: 0;
        transition: 500ms;
    }
    .container{
        border-radius: 0px;
    }
    .nav-up{
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

@media only screen and (max-width: 550px) {
    .nav-bottom{
        display: none;
    }
}
.tAnimation{
    animation: tAnim 1s infinite;
    width: 15px;
    height: 25px;
    background: #fff;
}
@keyframes tAnim{
    0%{opacity: 1;}
    49%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 0;}
}