*{
    box-sizing: border-box;

}
body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(210,65,23), rgb(119,13,65) 100%);
    font-family: 'Montserrat', sans-serif;
}
body{
    padding: 3%;
}
.container{
    width: 100%;
    height: 100%;
    background: rgb(45,9,34);
    border-radius: 10px;
    animation: container 1s;
}
.nav{
    width: 100%;
    height: 9%;
    animation: nav 1.5s;
}
.nav-up{
    height: 50%;
    background: linear-gradient(180deg,rgb(98,96,85),rgb(62,61,57));
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(59,59,55);
}

.nav-upCenter{
    justify-content: flex-end;
    text-align: right;
    width: 100%;
}

.nav-upRight{
    display: flex;
    justify-content: right;
    width: 50%;
    margin-right: 30px;
}

.nav-bottom{
    font-size: 20px;
    background-color: rgb(62,61,57);
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    padding: 0 10px 0 10px;
}

.nav-bottom ul{
    padding: 0;
    margin: 0;
}
.nav-bottom ul li{
    display: inline;
    padding: 0 20px 0 10px;
    text-transform: capitalize;
    font-size: 20px;
}


@font-face {
    font-family: lucida;
    src: url(/fonts/lucida.TTF);

}
.inline{
    display: flex;
    width: fit-content;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(59,59,55);
    background: rgb(135,134,128);
    border-radius:70px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
#box-1{
    width: 50%;
    height: 2px;
    background: rgb(59,59,55);
}
#box-2{
    width: 50%;
    height: 50%;
    border: 2px solid rgb(59,59,55);
}
#box-3{
    background: linear-gradient(rgb(201,127,103),rgb(219,78,29));

}
.bi{
    color:rgb(59,59,55);
    font-weight: bold;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 100%;
    height: fit-content;
    padding: 0px 0px 0px 10px;
    color: white;
    font-family: monospace;
    font-size: 20px;
    background: rgb(45,9,34);
    animation: main 2s;
}
.row-line{
    position: absolute;
    height: 323px;
    width: 1px;
    background-color: white;
    margin-left: 3px;
}
.directory{
    margin-top: 50px;
}
.col-line{
    width: 20px;
    height: 1px;
    margin-left: 3px;
    background-color: white;
    margin-top: 12px;
    margin-right: 10px;
}

@keyframes container{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes nav{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes main{
    30%{opacity: 0;}
    100%{opacity: 1;}
}

input, input:hover, input:focus, input:active{
    background-color: transparent;
    border: none;
    border-width: 0px;
    color: white;
    outline: 0px;
    font-size: 20px;
}
